<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          C
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          +/-
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          %
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
         /
        </button>
      </div>
    </div>
    <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onPress('7')">
            7
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onPress('8')">
            8
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            9
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
           X
          </button>
        </div>
      </div>
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            4
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            5
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            6
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
           -
          </button>
        </div>
      </div>
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            0
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            00
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            .
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Example icon button with a delete icon">
           =
          </button>
        </div>
      </div>
  </div>
</section>
