<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Clear Button" (click)="onOperator(1)">
          C
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Plus/ Minus Button" (click)="onOperator(7)">
          +/-
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Percent Button" (click)="onOperator(6)">
          %
        </button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="warn" aria-label="Divison Button" (click)="onOperator(5)">
         /
        </button>
      </div>
    </div>
    <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="7 Button" (click)="onPress('7')">
            7
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="8 Button" (click)="onPress('8')">
            8
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="9 Button" (click)="onPress('9')">
            9
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Multiplication Button" (click)="onOperator(4)">
           X
          </button>
        </div>
      </div>
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="4 Button" (click)="onPress('4')">
            4
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="5 Button" (click)="onPress('5')">
            5
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="6 Button" (click)="onPress('6')">
            6
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Subtraction Button" (click)="onOperator(3)">
           -
          </button>
        </div>
      </div>
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="1 Button" (click)="onPress('1')">
            1
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="2 Button" (click)="onPress('2')">
            2
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="3 Button" (click)="onPress('3')">
            3
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Addition Button" (click)="onOperator(2)">
           +
          </button>
        </div>
      </div>
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="0 Button" (click)="onPress('0')">
            0
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Double 0 Button" (click)="onPress('00')">
            00
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Decimal Button" (click)="onPress('.')">
            .
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Equal Button" (click)="onOperator(8)">
           =
          </button>
        </div>
      </div>
  </div>
</section>
